<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/CSS/homepage.css">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sortablejs@latest/Sortable.min.js"></script>
    <script src="/home.js"></script>
</head>

<body>
<div class="top-bar">
    <ul class="navbar-primary">
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/" class="navbar-items"> Home </a>
        </li>
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/projecten" class="navbar-items"> Projecten </a>
        </li>
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/agenda" class="navbar-items"> Agenda </a>
        </li>
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/admin" class="navbar-items"> Meldingen </a>
        </li>
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/" class="navbar-items"> User: <%= email %> </a>
        </li>
        <li>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"></path>
            </svg>
            <a href="/admin" class="navbar-items"> Admin </a>
        </li>
    </ul>
</div>

<div class="overview">
    <div class="overview-container">
        <div class="notifications">
            <ul>
                <li>
                    <a>melding a</a>
                </li>
                <li>
                    <a>melding b</a>
                </li>
                <li>
                    <a>melding c</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="overview-container">
        <div class="assigned-projects">
            <ul>
                <li>
                    <a>project a</a>
                </li>
                <li>
                    <a>project b</a>
                </li>
                <li>
                    <a>project c</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="overview-container">
        <div class="upload-text" id="message">Sleep hier je bestanden in of klik!</div>
        <div class="upload-csv"></div>
        <div id="dropArea" ondragover="handleDragOver(event)"
             ondrop="handleDrop(event)" ondragenter="handleDragEnter(event)"
             ondragleave="handleDragLeave(event)" onclick="selectFile()">
            <a class="upload-text">Upload CSV</a>
        </div>
    </div>
</div>

<div class="break">
    <a class="api-text" href="https://app-eu1.hubspot.com/oauth/authorize?client_id=ee514772-3efe-4518-ad4f-ae1a13610dd7&redirect_uri=http://
    localhost:3000/code&scope=crm.schemas.deals.read%20crm.schemas.deals.write%20crm.schemas.contacts.read">Ga naar API (tijdelijk)</a>
</div>

<form id="addProjectForm">
    <input placeholder="Project naam" type="text" id="name" />
    <input placeholder="Bedrijf email" type="email" id="companyEmail" />
    <input placeholder="Deal owner" list="emailList" type="email" id="dealOwnerEmail" />
    <datalist id="emailList"></datalist>
    <select id="stage">
        <option value="appointmentscheduled">Interesse</option>
        <option value="qualifiedtobuy">Contact Gehad</option>
        <option value="closedwon">Match Gemaakt</option>
        <option value="closedlost">Geen Match</option>
        <option value="112184788">Afgerond</option>
    </select>
    <input type="submit" />
</form>

<div class="project-container">
    <div class="search">
        <div class="search-field">
            <i class="magnifying-glass"></i>
            <input class="search-text">
        </div>
        <button class="search-btn"> Zoeken</button>
    </div>

    <div class="grid">
        <% const stages = { "appointmentscheduled": []
            , "qualifiedtobuy": [], "closedwon": []
            , "112184788": [], "closedlost": [] }; %>


        <% projects.forEach((project) => {
            if (stages.hasOwnProperty(project.stage)) {
                stages[project.stage].push(project);
            }
        }); %>


        <div class="projects">
            <label>Interesse</label>
            <div id="appointmentscheduled" class="column-name sortable"> <!-- toevoegen van uniek ID -->
                <% stages["appointmentscheduled"].forEach((project) => { %>
                    <div data-id="<%= project._id %>" class="column-item" data-toggle="modal" data-target="#projectModal<%= project.name.replace(/\s+/g, '') %>">
                            <p class="card-title"><%= project.name %></p>
                            <p class="card-bottom">Door: <%= project.dealOwnerEmail %></p>
                            <p class="card-bottom">Contact: <%= project.companyEmail %></p>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="projectModal<%= project.name.replace(/\s+/g, '') %>" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="projectModalLabel"><%= project.name %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Contact: <%= project.companyEmail %></p>
                                    <p>Deal Owner: <%= project.dealOwnerEmail %></p>
                                <% if (project.problem) { %>
                                        <p>Project Description: <%= project.description %></p>
                                        <p>Project owner: dropdown (coming soon!)</p>
                                        <p>Company: <%= project.company %></p>
                                        <p>Contactpersoon: <%= project.nameContactPerson %></p>
                                    <% } %>
                                    <% if (project.tevredenResultaat) { %>
                                        <p>Tevredenheid: <%= project.tevredenResultaat %></p>
                                        <p>Onverwachte resultaten: <%= project.onverwachteResultaten %></p>
                                        <p>Aanbeveling: <%= project.aanbevelingWerkplaats %></p>
                                        <p>Belemmeringen: <%= project.belemmeringen %></p>
                                        <p>Vervolgstappen: <%= project.vervolgstappen %></p>
                                        <p>Opmerkingen: <%= project.opmerkingen %></p>
                                    <% } %>
                                </div>

                                <form action="/uploadexcel" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="projectId" value="<%= project._id %>"> <!-- Verstuur projectId met het formulier -->
                                    <input type="file" name="firstReviewFile"> <!-- De `name` moet hetzelfde zijn als wat je in `upload.single()` hebt opgegeven -->
                                    <input type="submit" value="Upload">
                                </form>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="projects">
            <label>Contact Gehad</label>
            <div id="qualifiedtobuy" class="column-name sortable"> <!-- toevoegen van uniek ID -->
                <% stages["qualifiedtobuy"].forEach((project) => { %>
                    <div data-id="<%= project._id %>" class="column-item" data-toggle="modal" data-target="#projectModal<%= project.name.replace(/\s+/g, '') %>">
                        <p class="card-title"><%= project.name %></p>
                        <p class="card-bottom">Door: <%= project.dealOwnerEmail %></p>
                        <p class="card-bottom">Contact: <%= project.companyEmail %></p>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="projectModal<%= project.name.replace(/\s+/g, '') %>" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="projectModalLabel"><%= project.name %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Contact: <%= project.companyEmail %></p>
                                    <p>Deal Owner: <%= project.dealOwnerEmail %></p>
                                <% if (project.problem) { %>
                                        <p>Project Description: <%= project.description %></p>
                                        <p>Project owner: dropdown (coming soon!)</p>
                                        <p>Company: <%= project.company %></p>
                                        <p>Contactpersoon: <%= project.nameContactPerson %></p>
                                    <% } %>
                                    <% if (project.tevredenResultaat) { %>
                                        <p>Tevredenheid: <%= project.tevredenResultaat %></p>
                                        <p>Onverwachte resultaten: <%= project.onverwachteResultaten %></p>
                                        <p>Aanbeveling: <%= project.aanbevelingWerkplaats %></p>
                                        <p>Belemmeringen: <%= project.belemmeringen %></p>
                                        <p>Vervolgstappen: <%= project.vervolgstappen %></p>
                                        <p>Opmerkingen: <%= project.opmerkingen %></p>
                                    <% } %>
                                </div>

                                <!-- Upload Form -->
                                <form action="/uploadexcel" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="projectId" value="<%= project._id %>">
                                    <input type="file" name="firstReviewFile">
                                    <input type="submit" value="Upload">
                                </form>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="projects">
            <label>Contact Gehad</label>
            <div id="closedwon" class="column-name sortable"> <!-- toevoegen van uniek ID -->
                <% stages["closedwon"].forEach((project) => { %>
                    <div data-id="<%= project._id %>" class="column-item" data-toggle="modal" data-target="#projectModal<%= project.name.replace(/\s+/g, '') %>">
                        <p class="card-title"><%= project.name %></p>
                        <p class="card-bottom">Door: <%= project.dealOwnerEmail %></p>
                        <p class="card-bottom">Contact: <%= project.companyEmail %></p>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="projectModal<%= project.name.replace(/\s+/g, '') %>" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="projectModalLabel"><%= project.name %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Contact: <%= project.companyEmail %></p>
                                    <p>Deal Owner: <%= project.dealOwnerEmail %></p>
                                <% if (project.problem) { %>
                                        <p>Project Description: <%= project.description %></p>
                                        <p>Project owner: dropdown (coming soon!)</p>
                                        <p>Company: <%= project.company %></p>
                                        <p>Contactpersoon: <%= project.nameContactPerson %></p>
                                    <% } %>
                                    <% if (project.tevredenResultaat) { %>
                                        <p>Tevredenheid: <%= project.tevredenResultaat %></p>
                                        <p>Onverwachte resultaten: <%= project.onverwachteResultaten %></p>
                                        <p>Aanbeveling: <%= project.aanbevelingWerkplaats %></p>
                                        <p>Belemmeringen: <%= project.belemmeringen %></p>
                                        <p>Vervolgstappen: <%= project.vervolgstappen %></p>
                                        <p>Opmerkingen: <%= project.opmerkingen %></p>
                                    <% } %>
                                </div>

                                <!-- Upload Form -->
                                <form action="/uploadexcel" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="projectId" value="<%= project._id %>">
                                    <input type="file" name="firstReviewFile">
                                    <input type="submit" value="Upload">
                                </form>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>


        <div class="projects">
            <label>Geen Match</label>
            <div id="closedlost" class="column-name sortable"> <!-- toevoegen van uniek ID -->
                <% stages["closedlost"].forEach((project) => { %>
                    <div data-id="<%= project._id %>" class="column-item" data-toggle="modal" data-target="#projectModal<%= project.name.replace(/\s+/g, '') %>">
                        <p class="card-title"><%= project.name %></p>
                        <p class="card-bottom">Door: <%= project.dealOwnerEmail %></p>
                        <p class="card-bottom">Contact: <%= project.companyEmail %></p>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="projectModal<%= project.name.replace(/\s+/g, '') %>" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="projectModalLabel"><%= project.name %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Contact: <%= project.companyEmail %></p>
                                    <p>Deal Owner: <%= project.dealOwnerEmail %></p>
                                <% if (project.problem) { %>
                                        <p>Project Description: <%= project.description %></p>
                                        <p>Project owner: dropdown (coming soon!)</p>
                                        <p>Company: <%= project.company %></p>
                                        <p>Contactpersoon: <%= project.nameContactPerson %></p>
                                    <% } %>
                                    <% if (project.tevredenResultaat) { %>
                                        <p>Tevredenheid: <%= project.tevredenResultaat %></p>
                                        <p>Onverwachte resultaten: <%= project.onverwachteResultaten %></p>
                                        <p>Aanbeveling: <%= project.aanbevelingWerkplaats %></p>
                                        <p>Belemmeringen: <%= project.belemmeringen %></p>
                                        <p>Vervolgstappen: <%= project.vervolgstappen %></p>
                                        <p>Opmerkingen: <%= project.opmerkingen %></p>
                                    <% } %>
                                </div>

                                <form action="/uploadexcel" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="projectId" value="<%= project._id %>"> <!-- Verstuur projectId met het formulier -->
                                    <input type="file" name="firstReviewFile"> <!-- De `name` moet hetzelfde zijn als wat je in `upload.single()` hebt opgegeven -->
                                    <input type="submit" value="Upload">
                                </form>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="projects">
            <label>Project Afgerond</label>
            <div id="112184788" class="column-name sortable"> <!-- toevoegen van uniek ID -->
                <% stages["112184788"].forEach((project) => { %>
                    <div data-id="<%= project._id %>" class="column-item" data-toggle="modal" data-target="#projectModal<%= project.name.replace(/\s+/g, '') %>">
                        <p class="card-title"><%= project.name %></p>
                        <p class="card-bottom">Door: <%= project.dealOwnerEmail %></p>
                        <p class="card-bottom">Contact: <%= project.companyEmail %></p>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="projectModal<%= project.name.replace(/\s+/g, '') %>" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="projectModalLabel"><%= project.name %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Contact: <%= project.companyEmail %></p>
                                    <p>Deal Owner: <%= project.dealOwnerEmail %></p>
                                <% if (project.problem) { %>
                                        <p>Project Description: <%= project.description %></p>
                                        <p>Project owner: dropdown (coming soon!)</p>
                                        <p>Company: <%= project.company %></p>
                                        <p>Contactpersoon: <%= project.nameContactPerson %></p>
                                    <% } %>
                                    <% if (project.tevredenResultaat) { %>
                                        <p>Tevredenheid: <%= project.tevredenResultaat %></p>
                                        <p>Onverwachte resultaten: <%= project.onverwachteResultaten %></p>
                                        <p>Aanbeveling: <%= project.aanbevelingWerkplaats %></p>
                                        <p>Belemmeringen: <%= project.belemmeringen %></p>
                                        <p>Vervolgstappen: <%= project.vervolgstappen %></p>
                                        <p>Opmerkingen: <%= project.opmerkingen %></p>
                                    <% } %>
                                </div>

                                <form action="/uploadexcel" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="projectId" value="<%= project._id %>"> <!-- Verstuur projectId met het formulier -->
                                    <input type="file" name="firstReviewFile"> <!-- De `name` moet hetzelfde zijn als wat je in `upload.single()` hebt opgegeven -->
                                    <input type="submit" value="Upload">
                                </form>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
</body>